.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.options {
    height: 0;
    transform: scale(0);
    transition: transform .4s cubic-bezier(.5,0,.3,1);
}

.options.is-active {
    height: auto;
    transform: scale(1);
}