body  {
    font-size: 13px;
}

h1 {
    font-weight: bold;
}

.btn {
    background-color: #E12D0E;
    border: 1px solid #E12D0E;
    color: #FFF;
    padding: 4px 6px;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #FFF;
    border-color: #E12D0E;
    color: #E12D0E;
}

header .btn {
    margin-left: 5px;
}

.content {
    padding: 20px 0;
}

.inspect input {
    width: 100%;
}

.inspect .inspect__url {
    width: calc( 100% - 175px )
}

.visually-hidden {
    position: absolute !important;
    overflow: hidden;
    height: 1px;
    width: 1px;
    word-wrap: normal;
}

.relnofollow {
    background: #CCC !important;
}

.notitle {
    background: #ff9900 !important;
}

.noalt {
    background: #ff9900 !important;
}

label {
    cursor: pointer;
}

.nav-tabs .link-error {
    color: #F00;
}

/* .overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99999;
    background: #FFF;
}

.overlay:after {
    background: url(/social.png);
    position: absolute;
    content: ' ';
    display: block;
    height: 200px;
    width: 200px;
    background-size: contain;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
} */