body {
    color: #313131;
    font-size: 16px;
}

img {
    height: auto;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: hotpink;
}

.video {
    margin-bottom: 30px;
}

.video__image img {
    height: auto;
    max-width: 100%;
}

h1 {
    font-weight: bold;
}

.btn {
    background-color: #e12d0e;
    border: 1px solid #e12d0e;
    color: #fff;
    padding: 4px 6px;
    border-radius: 4px;
    cursor: pointer;
    line-height: 19px;
}

.btn:hover {
    background-color: #fff;
    border-color: #e12d0e;
    color: #e12d0e;
}

header .btn {
    margin-left: 5px;
}

.content {
    padding: 20px 0;
}

.inspect input {
    width: 100%;
}

.inspect .inspect__url {
    width: calc(100% - 185px);
}

.visually-hidden {
    position: absolute !important;
    overflow: hidden;
    height: 1px;
    width: 1px;
    word-wrap: normal;
}

.relnofollow {
    background: #ccc !important;
}

.notitle {
    background: #ff9900 !important;
}

.noalt {
    background: #ff9900 !important;
}

label {
    cursor: pointer;
}

.nav-tabs .link-error {
    color: #f00;
}

/* .overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99999;
    background: #FFF;
}

.overlay:after {
    background: url(/social.png);
    position: absolute;
    content: ' ';
    display: block;
    height: 200px;
    width: 200px;
    background-size: contain;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
} */

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.options {
    height: 0;
    transform: scale(0);
    transition: transform 0.4s cubic-bezier(0.5, 0, 0.3, 1);
}

.options.is-active {
    height: auto;
    transform: scale(1);
}

ul.nav {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #000;
}

ul.nav li {
    border: 1px solid #000;
    margin-right: 10px;
    padding: 7px;
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
    border-radius: 3px 3px 0 0;
}

ul.nav li .nav-link {
    font-size: 16px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

ul.nav li .nav-link.is-active {
    color: #e12d0e;
}

.tab-content .tab-pane {
    display: none;
}

.tab-content .tab-pane.is-active {
    display: block;
}

table {
    width: 100%;
}

.message {
    position: fixed;
    top: 15px;
    left: 15px;
    border-left: 3px solid;
    padding: 7px 4px;
    z-index: 9999;
}

.message__success {
    border-left-color: #155724;
    color: #155724;
    background-color: #d4edda;
}

.message__warning {
    border-left-color: #856404;
    color: #856404;
    background-color: #fff3cd;
}

.message__error {
    border-left-color: #721c24;
    color: #721c24;
    background-color: #f8d7da;
}

.loading {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    width: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
}
